## Files/Directories to ignore

# MacOS
.DS_Store

# Programs
mucommander/
assignments/HW3/jEdit/

# Tar files
jedit5.4.0source.tar.bz2

# General File Types
*.pdf
*.mov
*.png

# Projects
git-time-lapse-view
